@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
}
#root {
  zoom: 90%;
}
.container-fluid {
  padding: 0px 45px;
}
.transition {
  transition: all 0.3s ease-in-out;
}
.cursor {
  cursor: pointer;
}

.bg-g,
.bg-success {
  background: #3bb77e;
}
.text-g {
  color: #3bb77e;
}
.hd {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}
